<header>
  <h1><%= @user.username %></h1>
</header>

<div>
  <%= profile_image_for(@user) %>
  <h4><%= @user.name %></h4>
</div>

<nav>
  <%= link_to 'Edit Account', edit_user_path(@user) %> | 
  <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</nav>
