<header>
  <h1>Registrations for <%= link_to @event.name, @event %></h1>
</header>

<ol>
  <% @registrations.each do |r| %>
    <li>
      <%= profile_image_for(r.user, size: 35) %>
      <p><%= link_to r.user.username, r.user %></p>
      <span><%= time_ago_in_words(r.created_at) %> ago</span>
      (<%= r.how_heard %>)
    </li>
  <% end %>
</ol>
