<header>
  <h1>New Registration for <%= link_to @event.name, @event %></h1>
</header>

<%= form_for [@event, @registration] do |f| %>
  <div>
    <%= render 'shared/errors', object: @registration %>
  </div>
  <p>
    <%= f.label :how_heard, 'How Heard' %>
    <%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS, prompt: "Select" %>
  </p>
  <p>
    <%= f.submit 'Register!' %> | <%= link_to 'Cancel', @event %>
  </p>
<% end %>
