<header>
  <h1>Events</h1>
</header>

<% @events.each do |event| %>
  <article>
    <header class="event">
      <%= image_for(event) %>
      <h2><%= link_to event.name, event %></h2>
    </header>
    <p><%= event.description %></p>
    <table>
      <tr>
        <th>When:</th>
        <td><%= event.starts_at %></td>
      </tr>
      <tr>
        <th>Where:</th>
        <td><%= event.location %></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td><%= event_price(event) %></td>
      </tr>
      <tr>
        <th>Capacity:</th>
        <td><%= event.capacity %></td>
      </tr>
    </table>
  </article>
<% end %>
