<aside id="sidebar">
  <nav>
    <ul class="nav nav-pills nav-stacked">
      <% if current_user_admin? %>
        <li><%= link_to "Add New Event", new_event_path %></li>
      <% end %>
      <li><%= link_to "Upcoming", events_path %></li>
      <li><%= link_to "Past", filtered_events_path(:past) %></li>
      <li><%= link_to "Free", filtered_events_path(:free) %></li>
      <li><%= link_to "Recently Added", filtered_events_path(:recently_added) %></li>
    </ul>
  </nav>
  <br />
  <%= content_for :side %>
</aside>
